<a href="https://colab.research.google.com/github/Maria-lin/F1-Analytics/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
SELECT
    CONCAT(YEAR(dat_trt), LPAD(MONTH(dat_trt), 2, '0')) AS annee_mois,
    'non-rejete' AS sens,
    'PARC' AS rejet,
    'automates marche' AS canal,
    'EUR' AS devise,
    COUNT(DISTINCT nmedd8) AS nb_ope,
    0 AS montant,
    'inter_intrra' AS inter_intrra,
    NULL AS nature_compte,
    'PSSTFRPP' AS bic
FROM trepor_ano.t_dlk_mon_rea_gabemp
WHERE YEAR(dat_trt) IN (2024, 2025, 2026)
GROUP BY
    YEAR(dat_trt),
    MONTH(dat_trt)
ORDER BY annee_mois;